.button {
  display: block;
  padding: 15px 0;
  border: 3px solid white;
  border-radius: 50px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}
