.comments {
  margin-top: 42px;
  margin-bottom: 20px;
}

.comments__quotes {
  display: none;
  width: 78px;
  height: 64px;
  margin: 0 auto 50px;

  color: @gray;
}

.comments__list {
  .reset-list-style();
}

.comments__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  text-align: center;
}

.comments__author {
  margin: 0 0 13px;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
}

.comments__text {
  width: 100%;
  color: @blue;
  line-height: 2.15;

  margin: 0 0 34px;
}

.comments__author-desc {
  display: none;
  line-height: 2.14;
  font-size: 14px;
  color: @blue;
  font-weight: 300;
}

@media (min-width: @table-width) {
  .comments {
    margin-top: 96px;
  }

  .comments__author {
    order: 1;
    margin-bottom: 35px;
    font-size: 20px;
  }

  .comments__text {
    font-size: 18px;
    line-height: 1.67;
    margin-bottom: 33px;
  }

  .comments__author-desc {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .comments {
    margin-top: 67px;
    margin-bottom: 30px;
  }

  .comments__list {
    padding: 0 105px;
  }

  .comments__item {
    width: 685px;
  }

  .comments__author {
    font-size: 24px;
    line-height: 1.67;
    margin-bottom: 0;
  }

  .comments__quotes {
    display: block;
  }

  .comments__author-desc {
    font-size: 18px;
    line-height: 1.4;
  }
}
