.copyright {
  display: flex;
  align-items: center;
}

.copyright__text {
  margin-right: 15px;
  line-height: 1.29;
  text-decoration: none;
  color: @blue;
}

.copyright__link {
  display: block;
  cursor: pointer;
  line-height: 0;
}
