.features {
  padding-top: 46px;
}

.features__title {
  margin: 0 58px 20px;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  line-height: normal;
  color: @blue;
}

.features__list-wrapper {
  background: @light-gray;
}

.features__list {
  padding: 20px 32px;
  margin: 0;
  list-style: none;
  text-align: center;
}

.features__subtitle {
  font-size: 18px;
  font-weight: bold;
}

.features__desc {
  margin-bottom: 20px;
}

.features__image {
  display: block;
  margin: auto;
}
