.features {
  min-width: 320px;
  padding-top: 40px;
}

.features__title {
  margin: 0 auto 31px;
  width: 210px;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  line-height: 1.2;
  color: @blue;
}

.features__list-wrapper {
  background: @gray--light;
  position: relative;
  margin-top: 64px;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 100vw;
    height: 0;
    left: 0;
    margin-left: 0;
    top: -34px;
    border-bottom: 34px solid @gray--light;
    border-left: 100vw solid transparent;
    background: white;
    box-sizing: border-box;
  }
}

.features__list {
  .reset-list-style();

  margin: auto;
  padding-top: 47px;
  text-align: center;
}

.features__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }

  &:nth-child(3)::after {
    content: "";
    height: 278px;
    width: 157px;
    overflow: hidden;
    margin: 45px auto 0;
    background-image: url("../img/iphone-screen-mobile@1x.png");
    background-size: cover;

    .retina({
      background-image: url("../img/iphone-screen-mobile@2x.png");
    });
  }
}

.features__subtitle {
  margin: 0 0 10px;
  font-size: 18px;
  font-weight: 500;
}

.features__desc {
  margin: 0;
}

@media (min-width: @table-width) and (max-width: @desktop-width - 1) {
  .features {
    padding-top: 48px;
  }

  .features__title {
    width: 590px;
    font-size: 40px;

    &:first-child {
      margin-bottom: 0;
    }
  }

  .features__list-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 82px;

    &::before {
      border-bottom: 50px solid #f2f2f2;
    }
  }

  .features__item {
    margin-bottom: 34px;
  }

  .features__item:nth-child(3)::after {
    position: absolute;
    left: 20px;
    bottom: 0;
    width: 270px;
    height: 482px;
    line-height: 0;
    background-image: url("../img/iphone-screen-3-tablet@1x.png");

    .retina({
      background-image: url("../img/iphone-screen-3-tablet@2x.png");
    });
  }

  .features__list {
    position: relative;
    padding: 34px 30px 20px 330px;
    width: 300px;
    text-align: left;
  }
}


@media (min-width: @desktop-width) {
  .features {
    padding-top: 68px;
  }

  .features__title {
    width: 760px;
    font-size: 50px;

    &:first-child {
      margin-bottom: 0;
    }
  }

  .features__list {
    display: flex;
    padding: 0 0 66px;
    justify-content: center;
    flex-direction: row;
  }

  .features__list-wrapper {
    margin-top: 74px;

    &::before {
      border-bottom: 98px solid #f2f2f2;
      top: 0;
    }
  }

  .features__item {
    padding: 0 18px;
    margin-bottom: 0;

    &:nth-child(3)::after {
      content: none;
    }

    &::before {
      content: "";
      width: 285px;
      height: 300px;
      line-height: 0;
      margin-bottom: 55px;
      background-size: cover;
    }

    &:nth-child(1)::before {
      background-image: url("../img/iphone-screen-1-desktop@1x.png");

      .retina({
        background-image: url("../img/iphone-screen-1-desktop@2x.png");
      });
    }

    &:nth-child(2)::before {
      background-image: url("../img/iphone-screen-2-desktop@1x.png");

      .retina({
        background-image: url("../img/iphone-screen-2-desktop@2x.png");
      });
    }

    &:nth-child(3)::before {
      background-image: url("../img/iphone-screen-3-desktop@1x.png");

      .retina({
        background-image: url("../img/iphone-screen-3-desktop@2x.png");
      });
    }
  }

  .features__subtitle {
    width: 226px;
    margin: 0 auto 26px;
    font-size: 30px;
    line-height: 1;
  }

  .features__desc {
    width: 240px;
    margin: 0 auto;
    font-size: 18px;
  }
}
