.form {
  padding: 44px 0 55px;
  margin: 0 auto;
  position: relative;
}

.form__title {
  display: block;
  width: 87.5%;
  box-sizing: border-box;
  margin: 0 auto 36px;
  color: @blue;
  font-size: 14px;
  line-height: 2.14;
  font-weight: 400;
  text-align: center;
}

.form__person-info {
  margin-bottom: 22px;
}

.form__optional-desc {
  display: none;
}

.form__set {
  min-width: 320px;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 40px 20px 42px;
  border: 0;
  background: @gray--light;

  .label:last-child {
    margin-bottom: 0;
  }
}

.form__legend-wrapper {
  display: flex;
  justify-content: center;
  margin: 0 26px 37px;
}

.form__legend {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  margin: 0;
  text-align: center;
  color: @red;
  text-transform: uppercase;
}

.form__set--no-display-tablet-down {
  background: white;
  padding: 32px 0 24px;
  margin: 0;
}

.form__legend-wrapper--no-display-tablet-down {
  display: none;
}

.form__button {
  margin-bottom: 35px;
}

.form__notice {
  display: block;
  line-height: 2.14;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: @blue;
}

.form__notice-star {
  color: @red;
}

.form__optional-notice {
  display: none;
}

.form__label-text-area {
  margin-bottom: 0;
}

.form__text-area {
  margin-bottom: 20px;
}

@media (min-width: @table-width) {
  .form {
    width: 94%;
    min-width: 620px;
    margin: 0 auto;
    padding: 91px 0 0;

    form {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  .form__optional-desc {
    display: contents;
  }


  .form__legend-wrapper {
    margin: -10px auto 44px;
  }

  .form__legend {
    padding: 0 32px;
    background: white;
  }

  .form__set {
    position: relative;
    flex-grow: 1;
    min-width: 80%;
    background: white;
    padding: 0 58px 52px;
    border: solid 2px @gray;
    margin: 0 0 64px;

    .wrapper {
      width: 100%;
      min-width: auto;
    }
  }

  .form__legend-wrapper--no-display-tablet-down {
    display: flex;
    margin: -10px auto 38px;
  }

  .form__set--no-display-tablet-down {
    padding: 0 60px;
  }

  .form__title {
    width: 80%;
    margin: 0 auto 72px;
    font-size: 18px;
    line-height: 1.67;
    text-align: center;
    color: #283645;
  }

  .form__label-text-area {
    display: none;
  }

  .form__text-area {
    margin: 0 0 45px;
  }

  .form__set--app {
    order: -2;
  }

  .form__set--contacts {
    order: -1;
  }

  .form__person-info {
    order: -3;
    flex-grow: 1;
    margin-bottom: 13px;
  }

  .form__button {
    margin: 0;
  }

  .form__notice {
    margin: 0;
  }

  .form__button-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 3px 0 50px;
    align-items: baseline;

    .button {
      width: 300px;
    }
  }
}

@media (min-width: @desktop-width) {
  .form {
    width: 78.4%;
    min-width: 940px;
    padding: 92px 0 0;

    .wrapper {
      min-width: auto;
    }
  }

  .form__title {
    width: 82%;
    margin-bottom: 80px;
  }

  .form__legend-wrapper {
    margin: -10px auto 42px;
  }

  .form__legend {
    padding: 0 30px;
  }

  .form__set {
    min-width: 20%;
    margin: 0 0 64px;
  }

  .form__person-info {
    width: 380px;
    padding: 0;
    margin: 4px 35px 14px 0;

    .label {
      margin: 0;
    }
  }

  .form__set--app {
    order: -2;
    margin-left: 35px;
    padding: 0;

    .label {
      margin: 0 75px 35px;
    }
  }

  .form__set--contacts {
    order: -1;
    width: 100%;
    padding-bottom: 15px;

    .form__legend-wrapper {
      margin-bottom: 35px;
    }

    .label {
      width: 50%;
    }
  }

  .form__set--achievements {
    width: 100%;
    padding-bottom: 47px;
  }

  .form__set--emotions {
    width: 100%;

    .form__legend-wrapper {
      margin-bottom: 36px;
    }
  }

  .form__achievements-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    height: 131px;

    .label,
    .label:last-child {
      margin: 0 55px 10px 0;
    }
  }

  .form__contacts-wrapper {
    display: flex;
    justify-content: space-between;

    .label__reverse-wrapper {
      width: calc(50% - 36px);
    }

    .label {
      margin-bottom: 0;
    }
  }

  .form__button-wrapper {
    padding: 0;
  }

  .form__legend--no-display-tablet-down {
    margin: -10px auto 35px;
  }

  .form__text-area {
    margin: 0 0 40px;
  }

  .form__optional-notice {
    display: contents;
  }
}
