.form {
  margin: 40px 22px;
  position: relative;
}

.form__title {
  display: block;
  margin: 0 0 50px;
  color: @blue;
  font-size: 14px;
  line-height: 2.14;
  font-weight: 400;
  text-align: center;
}

.form__label {
  display: block;
  color: @red;
  line-height: 2.14;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.form__input {
  width: 100%;
  height: 60px;
  padding: 0 20px;
  box-sizing: border-box;
  border: solid 2px @gray;
  line-height: 60px;
  font-size: 18px;
  color: @blue;
}

.form__set {
  margin: 0 -20px;
  padding: 40px 20px;
  border: 0;
  background: @light-gray;
}

.form__legend {
  display: block;
  margin: 0 28px 42px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  text-align: center;
  color: @red;
  text-transform: uppercase;
}

.form__label--toggle {
  display: flex;
  text-transform: none;
  font-size: 18px;
  color: @blue;
}
