.input {
  width: 100%;
  height: 63px;
  padding: 0 20px;
  box-sizing: border-box;
  margin-bottom: 19px;
  border: solid 2px @gray;
  line-height: 60px;
  font-size: 18px;
  color: @blue;
  outline: none;
}

.input:hover {
  border-color: black;
}

.input:active,
.input:focus {
  border-color: @red;
}

.input__icon {
  display: none;
  padding: 19px 19px 20px;
  background: @gray;
  position: absolute;
  right: 2px;
  top: 2px;

  path {
    fill: @red;
  }
}

@media (min-width: @table-width) {
  .input__icon {
    display: block;
  }
}

.input__range {
  width: 100%;

  &::track {
    width: 100%;
    background: black;
    height: 2px;
  }

  &::thumb {
    margin-top: -6px;
    border: solid 2px @red;
    background-color: @gray--light;
    border-radius: 50%;
    width: 14px;
    height: 14px;
  }
}
