.input {
  width: 100%;
  height: 60px;
  padding: 0 20px;
  box-sizing: border-box;
  border: solid 2px @gray;
  line-height: 60px;
  font-size: 18px;
  color: @blue;
}

@media (min-width: @table-width) {
  .input__icon {
    padding-right: 80px;
  }
}

.input__range {
  width: 100%;

  &::track {
    width: 100%;
    background: black;
    height: 2px;
  }

  &::thumb {
    margin-top: -6px;
    border: solid 2px @red;
    background-color: @gray--light;
    border-radius: 50%;
    width: 14px;
    height: 14px;
  }
}
