.intro {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  width: 100%;
  margin: -@mobile-header-height auto 0;
  padding-top: @mobile-header-height;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro__title {
  display: block;
  font-size: 24px;
  color: white;
  font-weight: 300;
  margin: 35px auto 54px;
  line-height: 1.2;
  text-align: center;
}

.intro__image {
  width: 100%;
}

.intro__image-wrapper {
  width: 259px;
  padding-top: 106px;
  margin-left: -20px;
  line-height: 0;
}

.intro__app {
  width: 100vw;
  transform: translateX(calc(-50% + 140px));
}

@media (min-width: @table-width) {
  .intro {
    align-items: flex-end;
    flex-direction: row;
    justify-content: center;
    margin: -@desktop-header-height auto 0;
    padding-top: @desktop-header-height;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    overflow: hidden;
  }

  .intro__image-wrapper {
    position: absolute;
    bottom: 0;
    width: 700px;
    flex-shrink: 0;
    margin-left: -40px;
  }

  .intro__app {
    width: 300px;
    transform: none;
    order: -1;
    flex-shrink: 0;
  }

  .intro__title {
    width: 480px;
    margin: 80px auto 150px;
    font-size: 50px;
  }

  .intro__title--only {
    margin: 70px auto 80px;
  }
}

@media (min-width: @desktop-width) {
  .intro {
    margin-top: -110px;
    padding-top: 110px;
    display: flex;
    align-items: flex-end;
    background-image: url("../img/bg-back-desktop@1x.jpg");
  }

  .intro__image-wrapper {
    width: 1050px;
    flex-shrink: 0;
    margin-left: 18px;
  }

  .intro__title {
    width: 750px;
    margin: 66px auto 112px;
    font-size: 50px;
  }

  .intro__title--only {
    margin: 62px auto 102px;
  }
}
