.intro {
  padding-top: 70px;
  background: url("../../img/bg-back-mobile@1x.jpg");
  background-size: cover;
}

.intro__title {
  font-size: 24px;
  color: white;
  font-weight: 300;
  padding: 35px 76px 87px;
  text-align: center;
}

.intro__image {
  padding-top: 110px;
}
