.like {
  display: flex;
  align-items: center;
  font-size: 12px;
  text-transform: uppercase;
  color: @red;
}

.like__button-icon {
  width: 100%;
  height: 100%;
}

.like__button {
  width: 14px;
  height: 14px;
  padding: 0;
  border: 0;
  margin-right: 15px;
  background-color: inherit;
  outline: none;

  color: @red;

  &:hover {
    color: @blue;
    opacity: 0.3;
  }

  &:active {
    color: @blue;
    opacity: 0.5;
  }
}


@media (min-width: @table-width) {
  .like {
    justify-content: space-between;
    width: 100%;
  }

  .like__button {
    order: 1;
    margin: 0 0 0 18px;
  }
}
