.like {
  font-size: 12px;
  text-transform: uppercase;
  color: @red;
}

.like__button {
  width: 14px;
  height: 14px;
  border: 0;
  margin-right: 15px;
  background-size: contain;
  background-color: inherit;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/icon-heart.svg");
}
