@header-color: fade(black, 40%);

.page-header {
  width: 100%;
  min-width: 320px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;
  z-index: 1;
  background: @header-color;
}

.page-header__logo {
  display: inline-block;
  cursor: pointer;
  line-height: 0;
  color: white;

  &:hover {
    color: @red;
  }

  &:active {
    color: white;
    opacity: 0.3;
  }
}

.page-header__toggle-icon {
  width: 100%;
}

.page-header__logo-image {
  width: 76px;
}

.page-header__logo-image--table,
.page-header__logo-image--desktop {
  display: none;
}

.page-header__logo-wrapper {
  height: @mobile-header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  background: @header-color;
  color: white;
  z-index: 2;
}

.page-header__toggle-button {
  width: 50px;
  height: 24px;
  flex-shrink: 0;
  border: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  color: white;

  .page-header__toggle-icon--open {
    display: none;
  }

  &:hover {
    color: @red;
  }

  &:active {
    opacity: 0.3;
    color: @red;
  }
}

.page-header__menu {
  position: absolute;
  top: @mobile-header-height + 2px;
  background-color: @blue;
  width: 100%;
  z-index: 2;
}

.page-header__list {
  .reset-list-style();

  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
}

.page-header__item {
  height: 62px;
  margin-bottom: 2px;
  line-height: 62px;
  box-shadow: 0 2px 0 0 #000000, inset 0 2px 0 0 rgba(255, 255, 255, 0.15);
  cursor: pointer;
}

.page-header__link {
  display: block;
  width: 100%;
  height: 100%;
  color: white;
  text-decoration: none;

  &:hover {
    color: @red;
  }

  &:active {
    color: @red;
    opacity: 0.3;
  }
}

.page-header__menu--close {
  display: none;
}

.page-header__menu--open {
  display: block;
}

.page-header__logo-wrapper--open {
  box-shadow: 0 2px 0 0 #000000;
  background-color: @blue;

  .page-header__toggle-button {
    width: 24px;
    height: 24px;
  }

  .page-header__toggle-icon--close {
    display: none;
  }

  .page-header__toggle-icon--open {
    display: block;
  }
}

.page-header__logo-wrapper--nojs {
  box-shadow: 0 2px 0 0 #000000;
  background-color: @blue;
  margin-bottom: 2px;

  .page-header__toggle-button {
    display: none;
  }
}

.page-header__menu--nojs {
  position: relative;
  display: block;
  top: 0;
}

@media (min-width: @table-width) {
  .page-header__logo-image--table {
    display: block;
    margin-bottom: 16px;
  }

  .page-header__logo-image--mobile {
    display: none;
  }

  .page-header__logo-wrapper {
    height: @desktop-header-height;
  }

  .page-header__logo-image {
    width: 150px;
  }

  .page-header__menu {
    top: @desktop-header-height + 2px;
  }

  .page-header__menu--nojs {
    top: 0;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    z-index: 2;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: @desktop-header-height;
    padding: 0;
    overflow: auto;
  }

  .page-header__logo-image--desktop {
    display: block;
    margin-bottom: 16px;
  }

  .page-header__logo-image--table {
    display: none;
  }

  .page-header__link {
    position: relative;
    display: block;
    height: auto;

    &:active {
      color: white;
      opacity: 0.3;
    }
  }

  .page-header__link--active {
    &:hover::after {
      background-color: @red;
    }

    &:active::after {
      background-color: white;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 100%;
      height: 2px;
      background-color: white;
    }
  }

  .page-header__logo-wrapper {
    box-shadow: none;
    width: 150px;
    padding: 0;
    margin-bottom: 0;
    margin-right: 170px;
    background: transparent;
  }

  .page-header__toggle-button {
    display: none;
  }

  .page-header__menu {
    display: block;
    position: relative;
    top: 0;
    width: 620px;
    background-color: transparent;
  }

  .page-header__list {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 400;
    text-transform: none;
  }

  .page-header__item {
    box-shadow: none;
    height: @desktop-header-height;
    display: flex;
    align-items: center;
    margin-bottom: 0;
  }
}
