.page-footer {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.page-footer__logo {
  display: block;
  cursor: pointer;
  margin-bottom: 34px;
}

.page-footer__socials {
  width: 180px;
  margin-bottom: 34px;
}

@media (min-width: @table-width) {
  .page-footer {
    flex-direction: row;
    width: 620px;
    padding: 36px 0 50px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    width: 940px;
    padding: 70px 0 90px;
  }
}
