.page-footer {
  padding: 0 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.page-footer__logo {
  display: block;
  cursor: pointer;
  margin-bottom: 34px;
  color: @blue;

  &:hover {
    color: @red;
  }

  &:active {
    opacity: 0.3;
    color: @blue;
  }
}

.page-footer__logo-image--desktop {
  display: none;
}

.page-footer__socials {
  width: 180px;
  margin-bottom: 37px;
}

.page-footer--photo-page {
  padding-top: 0;
}

@media (min-width: @table-width) {
  .page-footer {
    flex-direction: row;
    padding: 42px 0 50px;
  }

  .page-footer__socials {
    margin: 0 0 0 -16px;
  }

  .page-footer__logo {
    margin: 0;
  }

  .page-footer__logo-image {
    margin-top: -11px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    padding: 71px 0 71px;
  }

  .page-footer__logo-image--desktop {
    display: block;
    margin-top: -20px;
  }

  .page-footer__logo-image--mobile {
    display: none;
  }
}
