.page-footer {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  height: 204px;
  justify-content: space-between;
  align-items: center;
}

.page-footer__logo {
  display: block;
  cursor: pointer;
}

