.photos {
  margin: 45px auto 9px;
}

.photos__title {
  display: block;
  margin: 0 auto 49px;
  width: 250px;
  line-height: 2.15;
  color: @blue;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.photos__list {
  .reset-list-style();

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.photos__item {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: @gray--light;
  margin-bottom: 20px;
}

.photos__image {
  width: 100%;
  object-fit: cover;

  font-family: "object-fit: cover", sans-serif;
}

.photos__image--panorama {
  height: 137px;
  width: 100vw;
  min-width: 320px;
  margin: 0 calc(-50vw + 50%);
  object-fit: cover;
}

.photos__link--panorama {
  &::before {
    content: "ПАНОРАМА ДНЯ";
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 140px;
    height: 36px;
    background: @red;
    color: white;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    line-height: 36px;
  }
}

.photos__link {
  position: relative;
  display: block;
  line-height: 0;
}

.photos__desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  flex-grow: 1;
  padding: 18px 18px 22px;
  line-height: 1.72;
  color: @blue;
}

.photos__author {
  display: block;
  line-height: 24px;
  font-weight: 500;
  font-style: normal;
}

.photos__text {
  display: block;
  margin-bottom: 12px;
  flex-grow: 1;
}

.photos__time {
  margin-left: 3px;
  font-weight: 300;
  text-transform: uppercase;
}

@media (min-width: @table-width) {
  .photos {
    margin: 91px auto 0;
  }

  .photos__title {
    width: 450px;
    margin: 0 auto 75px;
    font-size: 18px;
    line-height: 1.67;
  }

  .photos__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
  }

  .photos__image {
    height: 300px;
    object-fit: cover;
  }

  .photos__item {
    width: 300px;
    min-height: 455px;
    margin: 0 0 16px;
  }

  .photos__desc {
    padding: 23px 30px 26px 27px;
  }

  .photos__image--panorama {
    height: 510px;
  }

  .photos__text {
    margin-bottom: 17px;
  }

  .photos__item--panorama {
    width: 100%;
    margin: 0 0 50px;

    .photos__desc {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: wrap;
      padding-top: 25px;
    }

    .photos__text {
      width: 100%;
      margin: 0;
    }

    .like {
      width: auto;
    }

    .photos__like {
      order: -1;
    }
  }

  .photos__link--panorama {
    &::before {
      top: 59px;
    }
  }

  .photos__author {
    order: -2;
  }
}

@media (min-width: @desktop-width) {
  .photos {
    width: 940px;
  }

  .photos__title {
    width: 580px;
    margin: 0 auto 89px;
  }

  .photos__image {
    height: 400px;
  }

  .photos__image--panorama {
    height: 505px;
  }

  .photos__item {
    min-height: 556px;
    margin-bottom: 54px;
  }

  .photos__item--panorama {
    width: 940px;
    margin: 0 auto 49px;
  }

  .photos__desc {
    padding: 23px 30px 24px 27px;
  }

  .photos__link--panorama {
    &::before {
      top: 54px;
    }
  }
}
