.research {
  display: none;
  width: 100%;
  margin: 60px 0 20px;
}

.research__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &::after {
    content: "24";
    position: absolute;
    text-align: center;
    box-sizing: border-box;
    top: 68px;
    width: 254px;
    height: 254px;
    left: 22px;
    font-size: 120px;
    font-weight: 500;
    color: @red;
    border-radius: 50%;
    border: 17px solid @red;
  }
}

.research__title {
  font-size: 30px;
  font-weight: 500;
  line-height: 1.2;
  margin: 12px 0 10px;
}

.research__image-wrapper {
  margin-right: 70px;
  width: 238px;
  height: 276px;
  flex-shrink: 0;
}

.research__image {
  width: 100%;
  height: 100%;
}

.research__desc {
  color: @blue--dark;
  margin-bottom: 15px;
}

.research__link {
  color: @red;
  text-decoration: underline;
}

@media (min-width: @table-width) {
  .research {
    display: flex;
  }
}

@media (min-width: @desktop-width) {
  .research {
    margin: 0;
    background-color: @gray--light;
    padding-bottom: 70px;
  }

  .research__wrapper {
    align-items: flex-start;
    justify-content: flex-start;
  }

  .research__image-wrapper {
    width: 298px;
    height: 345px;
  }

  .research__desc-wrapper {
    font-size: 18px;
    width: 525px;
  }

  .research__title {
    margin: 90px 0 21px;

    br {
      display: none;
    }
  }

  .research__desc {
    margin-bottom: 30px;
  }
}
