.slider__toggles {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider__toggle {
  box-sizing: initial;
  width: 6px;
  height: 6px;
  margin-right: 20px;
  padding: 0;
  background: #bfc3c8;
  border-radius: 50%;
  border: 0;
}

.slider__toggle--active {
  background: white;
  border: solid 3px @blue;
}

.slider__toggle-arrow {
  display: none;
  height: 41px;
  width: 22px;
  padding: 0;
  border: none;
  background: inherit;
  outline: none;
}

.slider__arrow {
  path {
    fill: @blue;
    opacity: 0.3;
  }

  &:hover path {
    opacity: 0.6;
  }

  &:active path {
    opacity: 0.1;
  }
}

@media (min-width: @desktop-width) {
  .slider {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }

  .slider__toggles {
    display: none;
  }

  .slider__toggle-arrow {
    display: block;
  }
}
