.upload__title {
  display: block;
  margin: 48px 32px;
  line-height: 2.14;
  font-size: 14px;
  font-weight: 400;
  color: @blue;
  text-align: center;
}

.upload__form {
  background: @gray--light;
  padding: 20px 0 40px;
}

.upload__image {
  margin: 0 20px 42px;
}

.upload__label-list {
  .reset-list-style();

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 54px;
  margin: 0 0 32px;
}

.upload__label {
  width: 44px;
  height: 44px;
  display: block;
}

.upload__range-list {
  .reset-list-style();

  padding: 0 40px;
  margin: 0 0 32px;
}

.upload__range-item {
  display: none;
}

.upload__range-item--active {
  display: block;
}

.upload__separate {
  opacity: 0.1;
}

.upload__button-wrapper {
  margin: 40px 20px;
}

.upload__button {
  margin-bottom: 12px;
}
